Node-Red/flows.json
[
    {
        "id": "f5ef3dae.b6779",
        "type": "tab",
        "label": "Log Environment Measurements v2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "40b5a01d.2ef5d",
        "type": "mqtt in",
        "z": "f5ef3dae.b6779",
        "name": "",
        "topic": "tjpetz.com/sensor/#",
        "qos": "2",
        "datatype": "json",
        "broker": "a932fdb5.61ed1",
        "x": 260,
        "y": 220,
        "wires": [
            [
                "99db4815.e4d9e8",
                "2c4a3012.3c792"
            ]
        ]
    },
    {
        "id": "99db4815.e4d9e8",
        "type": "debug",
        "z": "f5ef3dae.b6779",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 540,
        "y": 220,
        "wires": []
    },
    {
        "id": "2c4a3012.3c792",
        "type": "function",
        "z": "f5ef3dae.b6779",
        "name": "Reformat",
        "func": "var newMsg = { \n    payload:\n        [\n            { \n                humidity: msg.payload.humidity,\n                temperature: msg.payload.temperature,\n                pressure: msg.payload.pressure,\n                time: new Date(msg.payload.sampleTime).getTime() * 1000000\n            },\n            {\n                sensor: msg.payload.sensor,\n                location: msg.payload.location\n            }\n        ]\n    }\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 480,
        "wires": [
            [
                "55136474.6e45bc",
                "2863a8d8.adc978"
            ]
        ]
    },
    {
        "id": "55136474.6e45bc",
        "type": "debug",
        "z": "f5ef3dae.b6779",
        "name": "Test Function",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 760,
        "y": 540,
        "wires": []
    },
    {
        "id": "2863a8d8.adc978",
        "type": "influxdb out",
        "z": "f5ef3dae.b6779",
        "influxdb": "f0b3a9b6.8bc968",
        "name": "",
        "measurement": "environment",
        "precision": "",
        "retentionPolicy": "",
        "x": 900,
        "y": 480,
        "wires": []
    },
    {
        "id": "a932fdb5.61ed1",
        "type": "mqtt-broker",
        "z": "",
        "name": "local server",
        "broker": "bbsrv02.bblab.tjpetz.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "f0b3a9b6.8bc968",
        "type": "influxdb",
        "z": "",
        "hostname": "mqtt.bb.tjpetz.com",
        "port": "8086",
        "protocol": "http",
        "database": "sensorMeasurements",
        "name": "",
        "usetls": false,
        "tls": ""
    }
]